/* FONTS */

@font-face {
    font-family: "jumperBlodItalic";
    src: url("../src/fonts/jumperBlodItalic.ttf");
}

/* BODY */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D1117;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 3px solid #FBEC5D;
    background-color: #010409;
}

.navbar {
    font-family: "jumperBlodItalic";
    color: #7F00FF;
    padding: 30px 10%;
}

/* MAIN */

main {
    height: 80vh
}

.mainSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px
}

h2 {
    font-family: "jumperBlodItalic";
    padding-top: 20px;
    color: #7F00FF;
    text-align: center;
}

.allButton {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.allButton button {
    background-color: #FBEC5D;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.allButton button:hover {
    background-color: #7F00FF;
    color: #E6EDF3;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: 3px solid #FBEC5D;
    background-color: #010409;
}

.footerText {
    color: #E6EDF3;
    padding: 30px 10%;
}

/* RESPONSIVE */
@media(max-width: 728px) {
    .navbar h1 {
        font-size: 16px;
        text-align: center;
    }
    .footerText p {
        font-size: 12px;
        text-align: center;
    }
}