/* FONTS */

@font-face {
    font-family: "jumperBlodItalic";
    src: url("../src/fonts/jumperBlodItalic.ttf");
}

/* BODY */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0D1117;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 3px solid #FBEC5D;
    background-color: #010409;
}

.navbar {
    font-family: "jumperBlodItalic";
    color: #7F00FF;
    padding: 30px 10%;
}

/* MAIN */

/* main {
    height: 100vh
} */

.weaponSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px
}

h2, h3 {
    font-family: "jumperBlodItalic";
    padding-top: 20px;
    color: #7F00FF;
    text-align: center;
}

.allButton {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.allButton button {
    background-color: #FBEC5D;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.allButton button:hover {
    background-color: #7F00FF;
    color: #E6EDF3;
}

/* SCORES */

.scoresSection {
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 200px;
    width: 200px;
    border: #FBEC5D solid 3px;
    border-radius: 50px;
}

.scoreBox p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #7F00FF;
    font-size: 50px;
    text-align: center;
    text-shadow: #FBEC5D 2px 2px 2px;
}

.resultSection p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #FBEC5D;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
}

.playAgain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.playAgain button {
    background-color: #FBEC5D;
    text-align: center;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.playAgain button:hover {
    background-color: #7F00FF;
    color: #E6EDF3;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: 3px solid #FBEC5D;
    background-color: #010409;
}

.footerText {
    color: #E6EDF3;
    padding: 30px 10%;
}

/* RESPONSIVE */
@media(max-width: 728px) {
    .navbar h1 {
        font-size: 16px;
        text-align: center;
    }
    .footerText p {
        font-size: 12px;
        text-align: center;
    }
    .scoreBox {
        height: 150px;
        width: 150px;
    }
}